extends layout
block content
    #about
        p &emsp;&emsp;&emsp;<strong>Drool</strong> is a simple web application with simple features like converting virtual coins to dollars or presenting a nice chart.
        p It also offers a REST web service for retrieving the coin list, a single coin or to make a conversion between two coins.
        h3(style='float: left') Web client
        p(style='clear: left') The convert form has events for change of input or selection, meaning a change in any of the input boxes, or the coin selectors, would execute the conversion function and put the result in the other input box.
        p The chart also watches an event - select event: when the client clicks on any of the bars, the base coin changes and the chart updates itself.
        h3(style='float: left') Web service
        p(style='clear: left') <b><i>/vcoins</i></b> - gives a an array of coins, in the JSON format, through a <strong>GET</strong> request
        p <b><i>/vcoins/base/[coinName]</i></b> - gives an array of coins having the values reported to the coin specified by name through <i>coinName</i>
        p <b><i>/vcoin/[coinIdOrName]</i></b> - gives the coin with Id or Name specified by <i>coinIdOrName</i>
        p <b><i>/convert</i></b> - gives the result of conversion of two coins, through a <strong>POST</strong> request<br>&emsp; - the POST request body must be a form with the following fields: <br>&emsp;&emsp;&emsp; - <i>firstcoin</i>: name of the source coin<br>&emsp;&emsp;&emsp; - <i>secondcoin</i>: name of the destination coin<br>&emsp;&emsp;&emsp; - <i>quantity</i>: the value which must be converted
        h3(style='float: left') Demo
        iframe(width='560',height='315', src='//www.youtube.com/embed/ypyiZGuHbgs?rel=0', frameborder='0', allowfullscreen)
        br
