extends layout
block content
        .canvasWrapper
            #converter
                select#coinFirst.coinSelector(onchange='inpageConvert(\'#coinFirst\',\'#numberFirst\',\'#coinSecond\',\'#numberSecond\')')
                input#numberFirst(type = 'text', onkeyup='inpageConvert(\'#coinFirst\',\'#numberFirst\',\'#coinSecond\',\'#numberSecond\')')
                span &nbsp;=&nbsp;
                input#numberSecond(type = 'text', onkeyup='inpageConvert(\'#coinSecond\',\'#numberSecond\',\'#coinFirst\',\'#numberFirst\')')
                select#coinSecond.coinSelector(onchange='inpageConvert(\'#coinSecond\',\'#numberSecond\',\'#coinFirst\',\'#numberFirst\')')

        .canvasWrapper
            #coinChart

