doctype html
html(lang="en")
    head
        title Drool
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1#pageTitle
            span
                a(href='/') Drool
            span
                a(href='/about') About
        #wrapper
            block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='/javascripts/global.js')
        script(src='https://www.google.com/jsapi')