body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fafafa;
}

#pageTitle {
    color: rgb(51, 102, 204);
    margin: -1px auto;
    text-align: center;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

#pageTitle span:first-child {
    margin-right: 400px;
    font-size: 1.5em;
}

#pageTitle a, a:visited {
    text-decoration: none;
    color: rgb(51, 102, 204);
}

#pageTitle a:hover {
    color: blue;
}

#wrapper {
    width: 620px;
    height: 580px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    background-color: #505050;
    overflow-y: auto;
    word-wrap: break-word;
    color: #fafafa;
}

.canvasWrapper {
    color: black;
    width: 560px;
    margin: 10px 10px 10px 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: #bbbbbb;
}

#about {
    width: 560px;
    margin: 0 auto;
    text-align: left;
}